<!-- About -->
<section id="about" name="about"></section>
<div class="container about">
  <div class="col-lg-6 col-lg-offset-3">
    <h3>About Martin Spier</h3>
    <hr>
    <br>
    <h4>Performance Engineer @ Netflix. Advisor @ monashees+. Entrepreneur. Adventurer.<br />-</h4>
    <p>I’m an engineer, more specifically, a performance engineer @ Netflix, the world's leading
      entertainment service and largest single source of internet traffic in North America. I try to fill my days
      trying to make Netflix as fast, efficient and resilient as possible, from your iPhone client to the operating
      system powering all our backend services.</p>
    <p>I've developed multiple open source tools like <a href="https://github.com/Netflix/vector" target="_blank">Vector</a> and
      <a href="https://github.com/Netflix/flamescope" target="_blank">FlameScope</a>, created plugins like
      <a href="https://github.com/spiermar/d3-flame-grap" target="_blank">d3-flame-graph</a> and
      <a href="https://github.com/spiermar/d3-heatmap2" target="_blank">d3-heatmap2</a>, and contributed inumerous other projects.</p>
    <p>Internally at Netflix, I've created Icarus, Netflix's real-user performance monitoring solution that runs on
      every single Netflix device on the planet. Developed Mogul, a bottleneck analysis tool that inspects internal and
      external dependency demand for services and help us identify bottlenecks and tuning opportunities. Developed
      Slalom, a high-level demand analysis tool that helps visualize demand flow on large scale systems. Worked on
      metric trending that helps us identify long-term performance regressions. Developed the in-house cloud
      performance testing framework, analysis tool and fully automated analysis engine for performance tests. </p>
    <p>I'm also a Venture Advisor at <a href="http://monashees.com.br/en/" target="_blank">monashees+</a>, one of the largest venture capital
      firms in Brazil, where I try to understand the tech level of prospective startups and help the invested ones to
      grow! Besides the portfolio startups, I advise multiple companies, of all sizes and shapes, on a varied set of
      challenges.</p>
  </div>
  <!-- /col-lg-6 -->
</div>
<!-- /container -->
