<section id="adventures" name="adventures"></section>
<div id="adventureswrap" class="sectionwrap">
  <div class="container">
    <h3>I Adventure Around the World</h3>
    <br>
    <p>I love to travel, adventure, not tourism. Getting to know new places, new cultures and new people are the most
      fulfilling things one can experience in life. I’ll jump into a plane or back of a truck at the smallest
      opportunity. Overlanding, backpacking and adventure traveling are the best ways of getting to know new places,
      not in 5-star hotels and guided tours!</p>
    <br>
    <div class="row">

      <!-- Mongol Rally -->
      <div class="col-md-4 ">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/adventures/mongolrally.jpg" alt="">
            <figcaption>
              <h5>Mongol Rally</h5>
              <a data-toggle="modal" href="#mongol-rally-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        <br>
      </div>
      <!-- /col -->

      <div class="modal fade" id="mongol-rally-modal" tabindex="-1" role="dialog" aria-labelledby="mongol-rally-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Mongol Rally</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/adventures/mongolrally.jpg" alt=""></p>
              <p>In 2015 I completed the <a href="http://www.theadventurists.com/mongol-rally/">Mongol Rally</a>,
                driving over 12.000 miles, across 21 countries, over 2 months, for charity. It was one of the most
                amazing adventures I experienced so far, and hopefully, the start of something incredible! I'm still
                going over all the pictures and working on what will soon be a great series of posts on Medium.</p>
              <p><b><a href="http://www.theadventurists.com/mongol-rally/">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Rickshaw Run -->
      <div class="col-md-4">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/adventures/rickshawrun.jpg" alt="">
            <figcaption>
              <h5>Rickshaw Run</h5>
              <a data-toggle="modal" href="#rickshaw-run-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        <br>
      </div>
      <!-- /col -->

      <div class="modal fade" id="rickshaw-run-modal" tabindex="-1" role="dialog" aria-labelledby="rickshaw-run-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Rickshaw Run</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/adventures/rickshawrun.jpg" alt=""></p>
              <p>In 2017, I participated in the <a href="http://www.theadventurists.com/rickshaw-run/">Rickshaw Run</a>,
                driving a <a href="https://en.wikipedia.org/wiki/Auto_rickshaw">tuk tuk</a> in India, top to bottom,
                from Rajasthan to Kerala. Over 3.000 km, with a max speed of 30 km/h, going downhill.</p>
              <p><b><a href="http://www.theadventurists.com/rickshaw-run/">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Llama Run -->
      <div class="col-md-4">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/adventures/llamarun.jpg" alt="">
            <figcaption>
              <h5>Llama Run</h5>
              <a data-toggle="modal" href="#llama-run-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        <br>
      </div>
      <!-- /col -->

      <div class="modal fade" id="llama-run-modal" tabindex="-1" role="dialog" aria-labelledby="llama-run-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Llama Run</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/adventures/llamarun.jpg" alt=""></p>
              <p>Earlier in 2018, me and a few frieds decided to drive old VW Bugs from South Brazil to Peru! We lost a
                car (and a participant) on the way, but we managed to visit Iguazu Falls, cross the Andes, the Atacama
                desert, drove into Salar de Uyuni in Bolivia, went to Lake Titicaca and Machu Picchu, and arrived in
                Cusco to complete our month-long adventure.</p>
              <p><b><a href="https://www.polarsteps.com/MartinSpier/673967-llama-run?s=A03F0547-E0E4-48C0-AE1A-27849DDA3991">Visit
                    Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
    <!-- /row -->
    <br>
    <p>According to TripAdvisor, I visited north of 40 countries, hundreds of places, and that's less than 20% of of
      the world!</p>
    <br>
    <p>Follow my adventures on <a href="https://www.instagram.com/unchartedcorners">Instagram</a>.</p>
  </div>
  <!-- /container -->
</div>
<!-- /speakingwrap -->
