<section id="blog" name="blog"></section>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 about">
      <h3>Sometimes I Blog</h3>
      <h5>THOUGHTS ABOUT DESIGN</h5>
      <br>
      <br>

      <!-- ACCORDION -->
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <date>Sep 15, 2018</date>
              <plus> + </plus> First Class Design
            </a>
          </div>
          <!-- /accordion-heading -->
          <div id="collapseOne" class="accordion-body collapse in">
            <br>
            <div class="accordion-inner">
              <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. </h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen
                book.
              </p>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <p><img class="img-circle" src="/public/img/avatar.jpg" height="50px" width="50px"> - <i>Alex Webber.</i></p>
            </div>
            <!-- /accordion-inner -->
          </div>
          <!-- /collapse -->
        </div>
        <!-- /accordion-group -->
        <br>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <date>Sep 10, 2018</date>
              <plus> + </plus> Retina Ready Theme
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <!-- /accordion-inner -->
          </div>
          <!-- /collapse -->
        </div>
        <!-- /accordion-group -->
        <br>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              <date>Aug 22, 2018</date>
              <plus> + </plus> Awesome Support
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <!-- /accordion-inner -->
          </div>
          <!-- /collapse -->
        </div>
        <!-- /accordion-group -->
        <br>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              <date>Aug 13, 2018</date>
              <plus> + </plus> Responsive Design
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <!-- /accordion-inner -->
          </div>
          <!-- /collapse -->
        </div>
        <!-- /accordion-group -->
        <br>
      </div>
      <!-- Accordion -->
    </div>
    <!-- /col-lg-6 -->

    <div class="col-lg-3"></div>
  </div>
  <!-- /row -->
</div>
<!-- /container -->
