<section id="contact" name="contact"></section>
<div id="footerwrap">
  <div class="container">
    <div class="col-lg-5">
      <h3>Address</h3>
      <p>
        P.O. Box 321387<br /> Los Gatos, CA<br /> 95032
        <br /> United States
      </p>
      <br>
      <h3>Social</h3>
      <br>
      <p>
        <a href="{{ site.linkedin.url }}" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a href="{{ site.twitter.url }}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="{{ site.github.url }}" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="{{ site.instagram.url }}" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
      </p>
    </div>

    <div class="col-lg-7">
      <h3>Drop Me A Line</h3>
      <br>

      <form class="contact-form" id="contact-form" role="form">
        <div class="form-group">
          <label for="contact-name">Your Name</label>
          <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4"
            data-msg="Please enter at least 4 chars" required>
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <label for="contact-email">Your Email</label>
          <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email"
            data-msg="Please enter a valid email" required>
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <label for="contact-subject">Subject</label>
          <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4"
            data-msg="Please enter at least 8 chars of subject">
          <div class="validate"></div>
        </div>

        <div class="form-group">
          <label for="contact-message">Your Message</label>
          <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5"
            data-rule="required" data-msg="Please write something for us" required></textarea>
          <div class="validate"></div>
        </div>

        <div class="error-message" id="error-message" style="display:none;"></div>
        <div class="sent-message" id="sent-message" style="display:none;">Your message has been sent!</div>

        <div class="form-send">
          <button type="submit" class="btn btn-large"><i class="fas fa-circle-notch fa-spin" id="spinner-message" style="display:none;"></i>Send Message</button>
        </div>

      </form>

      <br><br>
      <p>You can also reach out directly on <a href="mailto:hello@martinspier.io">hello@martinspier.io</a></p>
    </div>

  </div>

</div>

<div id="copyrights">
  <div class="container">
    <p>
      &copy; Copyright <strong>Martin Spier</strong>. All Rights Reserved
    </p>
    <div class="credits">
      <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/freelance-bootstrap-template/
          Licensing information: https://templatemag.com/license/
        -->
      Created with Freelance template by <a href="https://templatemag.com/" target="_blank">TemplateMag</a>
    </div>
  </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/public/lib/easing/easing.min.js"></script>
<script src="/public/lib/classie/classie.js"></script>
<script src="/public/lib/gnmenu/gnmenu.js"></script>

<!-- Javascript Files -->
<script src="/public/js/main.js"></script>
<script src="/public/js/message.js"></script>
<script>
  jQuery(document).ready(function() {
    initMenu();
    initScroll();
    initMessageForm();
  });
</script>
<script src="/public/js/ga.js"></script>
