<section id="open-source" name="open-source"></section>
<div id="opensourcewrap" class="sectionwrap">
  <div class="container">
    <h3>I Contribute to Open Source</h3>
    <br>
    <p>Here you can find a few open-source projects I'm currently involved with, in one way or another.</p>
    <br>
    <div class="row">

      <!-- Vector -->
      <div class="col-md-4 ">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/open-source/vector.jpg" alt="">
            <figcaption>
              <h5>VECTOR</h5>
              <a data-toggle="modal" href="#vector-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        <br>
      </div>
      <!-- /col -->

      <div class="modal fade" id="vector-modal" tabindex="-1" role="dialog" aria-labelledby="vector-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Vector</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/open-source/vector.jpg" alt=""></p>
              <p>Vector is an open source on-host performance monitoring framework which exposes hand picked high
                resolution system and application metrics to every engineer’s browser. Having the right metrics
                available on-demand and at a high resolution is key to understand how a system behaves and correctly
                troubleshoot performance issues.</p>
              <p><b><a href="https://github.com/Netflix/vector">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


      <!-- FlameScope -->
      <div class="col-md-4">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/open-source/flamescope.jpg" alt="">
            <figcaption>
              <h5>FLAMESCOPE</h5>
              <a data-toggle="modal" href="#flamescope-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        <br>
      </div>
      <!-- /col -->

      <div class="modal fade" id="flamescope-modal" tabindex="-1" role="dialog" aria-labelledby="flamescope-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">FlameScope</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/open-source/flamescope.jpg" alt=""></p>
              <p>FlameScope is a visualization tool for exploring different time ranges as Flame Graphs, allowing quick
                analysis of performance issues such as perturbations, variance, single-threaded execution, and more.</p>
              <p>FlameScope begins by displaying the input data as an interactive subsecond-offset heat map. This shows
                patterns in the data. You can then select a time range to highlight on different patterns, and a flame
                graph will be generated just for that time range.</p>
              <p><b><a href="https://github.com/Netflix/flamescope">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- burn -->
      <div class="col-md-4">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/open-source/burn.jpg" alt="">
            <figcaption>
              <h5>BURN 🔥</h5>
              <a data-toggle="modal" href="#burn-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        <br>
      </div>
      <!-- /col -->

      <div class="modal fade" id="burn-modal" tabindex="-1" role="dialog" aria-labelledby="burn-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">burn 🔥</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/open-source/burn.jpg" alt=""></p>
              <p>burn 🔥 is a CLI tool to convert performance profiles (perf_events, pprof, etc) to hierarchical data
                structure that can be visualized as flame graphs, with the help of the <a href="https://github.com/spiermar/d3-flame-graph">d3-flame-graph</a>
                plugin. burn 🔥 can also generate a self contained html flame graphs from the same data.</p>
              <p><b><a href="https://github.com/spiermar/burn">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </div>
    <!-- /row -->

    <div class="row">

      <!-- d3-flame-graph -->
      <div class="col-md-4 ">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/open-source/d3-flame-graph.jpg" alt="">
            <figcaption>
              <h5>D3-FLAME-GRAPH</h5>
              <a data-toggle="modal" href="#d3-flame-graph-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        <br>
      </div>
      <!-- /col -->

      <div class="modal fade" id="d3-flame-graph-modal" tabindex="-1" role="dialog" aria-labelledby="d3-flame-graph-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">d3-flame-graph</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/open-source/d3-flame-graph.jpg" alt=""></p>
              <p>A D3.js plugin that produces flame graphs from hierarchical data. Flame graphs are a visualization of
                profiled software, allowing the most frequent code-paths to be identified quickly and accurately.</p>
              <p><b><a href="https://github.com/spiermar/d3-flame-graph">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- d3-heatmap2 -->
      <div class="col-md-4">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/open-source/d3-heatmap2.jpg" alt="">
            <figcaption>
              <h5>D3-HEATMAP2</h5>
              <a data-toggle="modal" href="#d3-heatmap2-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        <br>
      </div>
      <!-- /col -->

      <div class="modal fade" id="d3-heatmap2-modal" tabindex="-1" role="dialog" aria-labelledby="d3-heatmap2-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">d3-heatmap2</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/open-source/d3-heatmap2.jpg" alt=""></p>
              <p>A D3.js plugin that produces heatmaps.</p>
              <p><b><a href="https://github.com/spiermar/d3-heatmap2">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- MyAdventure -->
      <div class="col-md-4">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="/public/img/open-source/myadventure.jpg" alt="">
            <figcaption>
              <h5>MYADVENTURE</h5>
              <a data-toggle="modal" href="#myadventure-modal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption>
            <!-- /figcaption -->
          </figure>
          <!-- /figure -->
        </div>
        <!-- /grid-mask -->
      </div>
      <!-- /col -->

      <div class="modal fade" id="myadventure-modal" tabindex="-1" role="dialog" aria-labelledby="myadventure-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">MyAdventure</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="/public/img/open-source/myadventure.jpg" alt=""></p>
              <p>MyAdventure is a place to share your adventures with the world, from your weekend trip to Yosemite, to your 12-month overland adventure in Africa. We know that every detail of your adventure can inspire and help others to do the same. That's why MyAdventure provides a platform for you to share everything, integrating satellite trackers, social networks, interactive maps with an easy-to-use mobile app that works anywhere, even without internet access!</p>
              <p><b><a href="http://myadventure.io">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
    <!-- /row -->
    <br>
    <p>These and a other projects can be found on <a href="{{ site.github.url }}">GitHub</a>.</p>
  </div>
  <!-- /container -->
</div>
<!-- /speakingwrap -->
