<section id="speaking" name="speaking"></section>
<div id="speakingwrap"  class="sectionwrap">
    <div class="container about">
        <div class="col-lg-10 col-lg-offset-1">
          <h3>I Speak At Events</h3>
          <br>
          <p>Over the last few years, I've given inumerous presentations, to groups as small as six and as large as 6,000. Most of my talks are technical and related to the work I've been doing at Netflix. I'm also known to seldomly speak on topics related to innovation, technology, engineering leadership, culture, product development, and the Silicon Valley mindset.</p>
          <p>Besides public presentations, I also talk with companies and individual teams, locally in the Bay Area and remotely, about a varied set of subjects.</p>
          <p>I tailor each session to the audience and strive to create the outcome you want to create!</p>
          <p>If you're interested in a speaking engagement or meeting, scroll to the <a href="#contact">contact area</a> to get in touch with me, and include the event date, location and your expectations in the message.</p>
          <h4>Upcoming Talks</h4>
          <ul>
            <li>Jul 28th, 2020 - São Paulo, Brazil (remote) - Forum E-Commerce<br><a href="https://eventos.ecommercebrasil.com.br/forum/" target="_blank">Link to website</a></li>
          </ul>
          <h4>Recent Talks</h4>
          <ul>
            <li>Performance Summit (2020)<br>FlameCommander - Netflix’s cloud profiler<br><a href="https://performancesummitiii.splashthat.com/" target="_blank">Link to website</a></li>
            <li>Performance @ Scale (2019)<br>FlameScope - A different way of looking at profiles<br><a href="https://engineering.fb.com/developer-tools/performance-scale-2019-recap/" target="_blank">Link to recap</a></li>
            <li>MBA PUCRS<br>Tecnologia para Negócios: AI, Data Science e Big Data<br><a href="https://online.pucrs.br/pos-graduacao/tecnologia-para-negocios-ai-data-science-big-data" target="_blank">Link to website</a></li>
            <li>QCon SP (2019)<br>A Evolução de Profilers na Netflix (The Evolution of Profilers at Netflix)<br><a href="https://www.infoq.com/br/presentations/evolucao-profilers-tracers-netflix/" target="_blank">Link to video</a></li>
            <li>CMG Impact (2019)<br>Real User Performance Monitoring at Netflix Scale<br><a href="https://www.cmg.org/2019/04/impact-2019-real-user-performance-monitoring-at-netflix-scale/" target="_blank">Link to recap</a></li>
            <li>Startup Summit (2019)<br>Um Dia na Vida de um Engenheiro de Performance do Netflix (A Day in the Life of a Netflix Performance Engineer)<br><a href="https://www.youtube.com/watch?v=xMQwgt-ZvIs" target="_blank">Link to video</a></li>
            <li>DevOps Days Florianopolis (2018)<br>Um Dia na Vida de um Engenheiro de Performance do Netflix (A Day in the Life of a Netflix Performance Engineer)</li>
            <li>QCon SP Keynote (2018)<br>Um Dia na Vida de um Engenheiro de Performance do Netflix (A Day in the Life of a Netflix Performance Engineer)<br><a href="https://www.infoq.com/br/presentations/um-dia-na-vida-de-um-arquiteto-de-performance-do-netflix" target="_blank">Link to video</a></li>
            <li>QCon SP (2018)<br>Monitoramento da Performance de Usuários Reais na Escala do Netflix (Real User Performance Monitoring at Netflix Scale)<br><a href="https://qconsp.com/sp2018/sp2018/presentation/monitoramento-da-performance-de-usuarios-reais-na-escala-do-netflix.html" target="_blank">Link to website</a></li>
            <li>Atlanta Web Performance Meetup (2018)<br>Real User Performance Monitoring at Netflix Scale<br><a href="https://www.meetup.com/Atlanta-Web-Performance-Group/events/hftknlyxlbcb/" target="_blank">Link to Meetup</a></li>
            <li>RD Summit (2017)<br>Uma Cultura de Inovação Contínua (A Continuous Innovation Culture)<br><a href="https://resultadosdigitais.com.br/blog/martin-spier-rd-summit/" target="_blank">Link to blog post</a></li>
            <li>South Bay Site Reliability Engineering Meetup (2017)<br>Monitoring Client Performance in a Large-scale, Multi-platform Environment<br><a href="https://www.youtube.com/watch?v=XclPg3D1DoQ" target="_blank">Link to video</a></li>
          </ul>
          <br><br>
        </div>
        <!-- /col-lg-6 -->
      </div>
      <!-- /container -->
</div>
<!-- /speakingwrap -->
