<div id="testimonial">
  <div class="container">
    <div class="bs-example">
      <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <h1>Work with Alex was a pleasure. He understood exactly what I wanted and created an awesome site for my
              company.</h1>
            <br>
            <h2>Brad Cooper</h2>
          </div>
          <div class="item">
            <h1>I'm really happy with the results. Get 100% satisfaction is difficult but Alex got it without problems.</h1>
            <br>
            <h2>Joan Mathews</h2>
          </div>
          <div class="item">
            <h1>Search no more. Alex is the guy that you need for your next project. Don't waste your time. He's the
              chosen one.</h1>
            <br>
            <h2>Trevor Bishop</h2>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
